%h2 Entrainements

= render partial: 'trainings/trainings', object: @trainings

- if current_user.is_coach_of?(current_section)
  = link_to 'Ajouter un entrainement', new_section_training_path(section_id: current_section), class: 'btn btn-primary'