%h2= @club.name

.panel.panel-default
  .panel-heading
    %h3.panel-title
      #{@club.sections.count} sections
      - if current_user.admin_of?(@club)
        = link_to new_club_section_path(club_id: @club.to_param), id: 'add-section', class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-plus

  .panel-body
    %table.table.table-hover.table-striped
      %tbody
        = render @club.sections
