= simple_form_for [current_section, @team] do |f|
  = f.error_notification
  = f.input :name, label: "Nom de l'équipe", autofocus: true
  = f.button :submit, value: (@team.persisted? ? 'Enregistrer' : "Ajouter l'équipe"), class: 'btn btn-primary'
