= render 'matches/inline_create_success',
  field_id: 'adversary_team_id',
  option_value: @team.id,
  option_label: @team.name,
  confirmation_text: "Équipe « #{@team.name} » ajoutée et sélectionnée.",
  panel_id: 'new-team-panel',
  panel_partial: 'matches/new_team_panel',
  panel_locals: { redirect_url: params[:_redirect_url], championship_id: params[:championship_id] }
