h1 Test de configuration email

p
  | Si tu lis ce message, l'envoi d'emails fonctionne.

ul
  li
    strong Environnement :
    =< Rails.env
  li
    strong Delivery method :
    =< @delivery_method
  li
    strong Région Scaleway :
    =< @region
  li
    strong Envoyé à :
    =< l(@sent_at, format: :long)
