%h1 Notification SMS

.row
  .col-md-4
    = render 'form'
  .col-md-4.col-md-offset-2
    .panel.panel-default
      .panel-heading
        Derniers SMS envoyés
      .panel-body
        %ul.list-group
          - @last_sms.each do |sms_notification|
            %li.list-group-item
              = sms_notification.title
              %br
              = sms_notification.description

