Entrainements : 
= @trainings.map{|t| t.start_datetime.strftime("%A %-d %HH%M")}.join(", ")

%form{action: "http:///martigua2.herokuapp.com/users/#{@user.to_param}/training_presences", method: :post}
  %table
    %tr
      %th Horaire
      %th Lieu
      %th Present ?
    - @trainings.each do |training|
      %tr
        %td= training.start_datetime.strftime("%A %-d %HH%M")
        %td= training.location ? training.location.name : ''
        %td
          %input{ type: :hidden, name: 'present_ids[]', value: training.id }
          %input{ type: :checkbox, name: 'checked_ids[]', value: training.id, checked: @user.is_present_for?(training) ? 'checked' : '' }
  %button{type: :submit} Valider mes présences

