Entrainements : 
= @trainings.map{|t| t.start_datetime.strftime("%A %-d %HH%M")}.join(", ")

%form{action: training_presences_user_url(@user.to_param), method: :post}
  %table{style: 'width: 600px;'}
    %tr{style: 'text-align: left;'}
      %th{style: 'border: 1px grey solid;'} Horaire
      %th{style: 'border: 1px grey solid;'} Lieu
      %th{style: 'border: 1px grey solid;'} Présent ?
    - @trainings.each do |training|
      %tr
        %td{style: 'border: 1px grey solid;'}= training.start_datetime.strftime("%A %-d %HH%M")
        %td{style: 'border: 1px grey solid;'}= training.location ? training.location.name : ''
        %td{style: 'border: 1px grey solid;'}
          %input{ type: :hidden, name: 'present_ids[]', value: training.id }
          %input{ type: :checkbox, name: 'checked_ids[]', value: training.id, checked: @user.is_present_for?(training) }
    %tr
      %td{colspan: 3}
        %a{style: "float: left; text-decoration: none; background:#5cb85c;display:inline-block;padding:10px;font-size:14px;margin:10px;color:white;", href: training_presences_user_url(@user.to_param, present_ids: @trainings.map(&:id), checked_ids: @trainings.map(&:id)), method: :post, } Présent à tous !!
        %a{style: "float: left; text-decoration: none; background:#d9534f;display:inline-block;padding:10px;font-size:14px;margin:10px;color:white;", href: training_presences_user_url(@user.to_param, present_ids: @trainings.map(&:id), checked_ids: []), method: :post, } Présent à aucun :(
        %button{type: :submit, style: "float: right; background:#428bca;display:inline-block;padding:10px;font-size:14px;margin:10px;color:white;"} Valider mes présences
