.front_bg
  .img_bg

.row
  .col-xs-12.col-sm-6.col-sm-push-6.col-md-4.col-md-push-8
    = render 'devise/sessions/new' unless user_signed_in?
  .welcome.col-xs-12.col-sm-6.col-sm-pull-6.col-md-8.col-md-pull-4
    %h2 
      %span.text-nowrap C'est bon,
      %span.text-nowrap c'est gras,
      %span.text-nowrap c'est Martigua !
    %p
      Le site des joueurs de Martigua. Retrouvez les résultats des matchs, les prochains rendez-vous, les contacts des autres joueurs et indiquez vos disponibilités pour les matchs et entrainements.

