- if current_section && current_user.coach_of?(current_section)
  .text-center
    - link_url = current_section ? new_section_championship_path(current_section) : new_championship_path
    = link_to 'Ajouter une compétition', link_url, class: 'btn btn-primary'

%h3= "#{@championships.count} compétitions"

= render partial: 'championships/championships', object: @championships
