%h1 Résultats de la FFHB
%p.small
  = "mise à jour : #{@scrapped_rankings.first.updated_at}"

%table
  %tbody
    - @scrapped_rankings.each do |scrapped_ranking|
      %tr
        %td= sanitize scrapped_ranking.scrapped_content, tags: %w(table tr th td em strong)
