%h1 Renouvellement des membres


= form_tag do
  .text-center
    %button.btn.btn-primary{type: :submit}
      Renouveller tous les membres sélectionnés
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Membre
          %th Joueur ?
          %th Coach ?
      %tbody
        - @previous_season_members.each do |previous_member|
          %tr
            %td= previous_member.full_name
            %td
              - previous_member.is_coach_of?(current_section)
              .checkbox
                %label
                  %input{ type: :checkbox, name: "players_ids[]", value: previous_member.id, checked: previous_member.is_player_of?(current_section, season: @previous_season) }

            %td
              .checkbox
                %label
                  %input{ type: :checkbox, name: "coachs_ids[]", value: previous_member.id, checked: previous_member.is_coach_of?(current_section, season: @previous_season) }
  .text-center
    %button#submit_btn.btn.btn-primary{type: :submit}
      Renouveller tous les membres sélectionnés

