- if current_section && current_user.is_coach_of?(current_section)
  .text-center
    = link_to 'Ajouter un groupe', new_section_group_path(current_section), class: 'btn btn-primary'

- if @groups.empty?
  Aucun groupe défini
- else
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th Nom
        %th Description

    - @groups.each do |group|
      %tr
        %td= link_to group.name, section_group_path(current_section, group)  
        %td= group.description
