.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th Nom
        %th Email
        %th Tel
        %th Groupes
        - if current_section
          %th Roles
        - if current_user.is_coach_of?(current_section) 
          - if defined?(group) && group
            - unless group.system?
              %th
          - else
            %th
  
    %tbody
      - group = nil unless defined?(group)
      = render partial: 'users/user', collection: users, locals: { group: group }

