- if current_section && current_user.is_coach_of?(current_section)
  .text-center
    = link_to 'Ajouter un joueur', new_section_section_user_invitation_path(current_section), class: 'btn btn-primary'

= render partial: 'users/users', object: @users
