- if current_section && current_user.is_coach_of?(current_section)
  .text-center
    = link_to 'Ajouter un joueur', new_section_section_user_invitation_path(current_section), class: 'btn btn-primary'

.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th Nom
        %th Prénom
        %th Surnom
        %th Email
        %th Tel
        - if current_section
          %th Roles

    %tbody
      = render @users

