.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th Prénom
        %th Nom
        %th Surnom
        %th Email
        %th Tel
    %tbody
      = render partial: 'user',  locals: {user: @user}