= form_with url: associate_player_section_player_stats_path(current_section), method: :patch, data: { controller: 'auto-submit', auto_submit_delay_value: 0 } do
  = hidden_field_tag :player_id, stat.player_id
  = hidden_field_tag :first_name, stat.first_name
  = hidden_field_tag :last_name, stat.last_name
  div class="mt-1 grid grid-cols-1"
    = select_tag :user_id, options_from_collection_for_select(players, :id, :full_name),
                 include_blank: 'Associer à…',
                 class: 'col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1 pr-7 pl-2 text-xs font-normal text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600',
                 data: { action: 'auto-submit#submit' }
    = render 'player_stats/chevron', size_classes: 'mr-1.5 size-3.5'
