div class="col-span-2 sm:col-span-1"
  label for=id class="block text-sm/6 font-medium text-gray-900" = label
  div class="mt-1 grid grid-cols-1"
    select id=id name=name class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pr-8 pl-3 text-sm text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
      = yield
    = render 'player_stats/chevron', size_classes: 'mr-2 size-4'
