.panel.panel-default
  .panel-heading
    %h3.panel-title Prochains entrainements
  .panel-body
    - if @next_trainings.empty?
      Aucun entrainement prévu dans les prochaines semaines
    - else
      = render partial: 'trainings/trainings', object: @next_trainings

