= simple_form_for([current_section, @calendar]) do |f|
  = f.error_notification
  div class="form-inputs"
    = f.input :name
    = f.association :season, collection: Season.all
  div class="form-actions"
    = f.button :submit
