%div{'data-toggle'=> :tooltip, 'data-html' => 'true', 'data-placement'=>"left", title: tooltip}><
  = link_to link_url do
    .presences.nb_presents.text-success= nb_presents
    .presences.text-danger><= nb_not_presents
    .presences.text-warning><= nb_no_response
