// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.navbar {
  margin-bottom: 0px;
}

.form-control.datetime, .form-control.select{
  display: inline;
  width: inherit;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}


form.button_to{
  display: inline;

  button{
    padding: 0 0;
    border-width: 0;
  }
}
