.navbar-nav.navbar-right.user{
  margin-right: 10px;
}

body{
  padding-top: 52px;
}

.eye_link{
  color: black;
}

.table > tbody > tr > td.link_column{
  padding-left: 5px;
  padding-right: 0px;
  width: 20px;
  vertical-align: middle;
}

.navbar-brand.active{
  color: white;
}

.action > a {
  color: black;
}


h2 > .action {
  font-size: 16px;
  display: inline;
}

.help-inline{
  color: red;
}

.input-group.form_datetime {
  width: 300px;
}

.inline{
  display: inline-block;
}

#starburst-announcement{
    width: 600px;
    margin: 10px auto;
}

.spin-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                image-url('Spinner-1s-200px.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .spin-modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   spin-modal element will be visible */
body.loading .spin-modal {
    display: block;
}