// Place all the styles related to the ScrappedRankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.cls {
width:100%;
border-spacing:0 10px;
color:#676d71;
font-size:0.785em;
margin:0 0 8px;
background:#fff;
}
table.cls .even td, ul.chpts li table.res.even, table.res.even {background:#f6f6f6;}
table.cls td, table.cls th {border:1px solid #d1d3d4;border-right:0;padding:1px 5px;text-align:center;}
table.cls td.num, table.cls th.num {
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-radius:5px 0 0 5px;
}
table.cls td.last, table.cls th.last {
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-radius:0 5px 5px 0;
}
table.cls .num {text-align:center;width:40px;padding:0;font-weight:bold;font-size:1.18em;}
table.cls .eq {width:200px;text-transform:uppercase;text-align:left;}
table.cls .eq th {text-transform:none;}
.bloc.contenu table.cls .eq a {color:#676D71;text-decoration:none;border:0;background:none;}
.bloc.contenu table.cls .eq a:hover {color:#e32f29;}
table.cls td.last, table.cls th.last {border-right:1px solid #d1d3d4;}
table.cls strong, .bloc.contenu table.res .eq p.win  {color:#e32f29;}