// Place all the styles related to the Trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.training_presence{
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  &.bg-danger{
    color: #843534;
  }
  &.bg-success{
    color: #3c763d;
  }
}

.change_presence{
  font-size: 11px;
  &.present{
    color: #3c763d;
  }
  &.not_present{
    color: #a94442;
  }
}

.nb_presents{
  font-size: 16px;
  font-weight: bold;
}

.presences{
  display: inline-block;
  text-align: right;
  width: 25px;
}

tr.training-cancelled, .table-striped > tbody > tr.training-cancelled {
  background-color: rgba(210, 80, 80, 0.38);
}

td.training-cancelled {
  font-weight: bold;
}

.d-inline-block {
  display: inline-block;
}


.yellow{
  background-color: #fcf8e3;
  min-height: 100px;
}

.red{
  background-color: #f2dede;
}

.green{
  background-color: #dff0d8;
}

td.big {
  padding: 20px 0 !important;

}

td.big input{
    width: 30px;
    height: 30px;
  }

