// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_remember_me > .controls {
  margin-left: 20px;
}

#new_user.sign_in{
  #user_email {
    width: 266px;
  }
  #user_password {
    width: 150px;
    display: inline-block;
  }
}
label.remember_me {
  font-weight: normal;
  font-size: 12px;
}

.forgot {
  font-size: 12px;
}

.remember_forgot{
  margin-top: 4px;
}

#sign_in_panel{
  width: 300px;
}