- if location
  = link_to "http://maps.google.com/?q=#{location.address.squish}", {rel: "nofollow", target: '_blank'} do
    %span{title: location.address}= location.name
- else
  %em.text-muted Lieu non défini
