title Martigua
meta name="viewport" content="width=device-width,initial-scale=1"
= csrf_meta_tags
= csp_meta_tag
meta name="vapid-public-key" content=ENV.fetch('VAPID_PUBLIC_KEY', 'BHgdMBM2bvdF6k4lkgInRs4QgeBzXohkaO6nOWMdQQji1PLggxT4hDCT02ZJqB6BG-lwUvnkqLZoL2OBnGCZZ6Q=')

= stylesheet_link_tag "application", "tailwind", "data-turbo-track": "reload"

script src="https://js.sentry-cdn.com/5ece076e22c84413bdaa2ee34bf6a9db.min.js" crossorigin="anonymous"


= javascript_importmap_tags

link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet"
link rel="manifest" href="/manifest.json"

