<!DOCTYPE html>
html lang="fr" class="h-full"
  head
    = render 'layouts/headers', legacy_css: false
  body class="h-full bg-gray-50"
    el-dialog
      dialog id="sidebar" class="backdrop:bg-transparent lg:hidden"
        el-dialog-backdrop class="fixed inset-0 bg-gray-900/80 transition-opacity duration-300 ease-linear data-closed:opacity-0"
        div tabindex="0" class="fixed inset-0 flex focus:outline-none"
          el-dialog-panel class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full"
            div class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0"
              button type="button" command="close" commandfor="sidebar" class="-m-2.5 p-2.5"
                span class="sr-only" Fermer le menu
                = heroicon(:x_mark, css_class: 'size-6 text-white')
            div class="relative flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4"
              = render 'layouts/app_shell/sidebar'

    div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col"
      div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4"
        = render 'layouts/app_shell/sidebar', nav_id: 'links'

    div class="lg:pl-72"
      = render 'layouts/app_shell/topbar'

      main class="py-8 lg:py-10"
        div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8"
          = yield

    = render 'layouts/alerts'
